
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.header {
	height:500px;
}

#hi {
	padding: 0 15px;
	letter-spacing: 1px;
}

#map {
    height: 450px;
    /*width: 40%;*/
}

.querySection {
	display: block;
    height: 450px; 
    background-color:;   
}

.query {
	margin-top:40px;
}


.info-row {
	overflow: auto;
}

.infobox {
	padding-bottom:30px;
}

#zip-display {
	margin-bottom:40px;
}

.data-cards {
	margin-top:20px;
}

.resultSection {
	
}

.realEstateIcons {
	height:50px;
	width:50px;
}

.cardSection {
	/*display: none;*/
    margin-top: 50px;
    margin-bottom: 50px;
}

nav {
	height:80px;
	line-height:80px;
}

.logo {
	height: 60px;
	display:block;
	margin-top:10px;

}

