
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.header {
	height:500px;
}

#hi {
	padding: 0 15px;
	letter-spacing: 1px;	
}

#img-container {
	position:relative;
}

#headline1 {
	position:absolute;
	top:30%;
	width:100%;	
}

#headline2 {
	position:absolute;
	top:45%;
	width:100%;
}


#map {
    height: 450px;
    /*width: 40%;*/
}

.querySection {
	display: block;
    height: 450px; 
    /*background-color:;   */
}

.query {
	margin-top:40px;
	margin-bottom:40px;
}

#save-btn{
	
}

.heart {
	height:50%;
	top:12px;	
}

.infobox {
	margin-bottom: 0px;
}

#zip-display {
	display: inline-block;
	margin: 1.25em 0.8em 1em 0.8em;
	vertical-align: middle;
}

#title-div {
	text-align: center;
}

.data-cards {
	margin-top:20px;
}

.resultSection {
	
}

.realEstateIcons {
	height:50px;	
}

.cardSection {
	display: none;
    margin-top: 50px;
    margin-bottom: 50px;
}

nav {
	height:80px;
	line-height:80px;
}

.logo {
	height: 60px;
	display:block;
	margin-top:10px;

}

.wrapper {
	margin-top: 3em;
}

.wrapper img {
	max-height: 107px;
}

